.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
    /* height: 100%; */
}

.carousel-content {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
    scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.carousel-content.show-2 > * {
    width: 50%;
}

.carousel-content.show-3 > * {
    width: calc(100% / 3);
}

.carousel-content.show-4 > * {
    width: calc(100% / 4);
}

.left-arrow,
.right-arrow {
    position: absolute;
    z-index: 999;
    /* transform: translateY(-50%); */
    width: 25px;
    height: 25px;
    display: block;
    top: 45%;
    border-radius: 50%;
    background-color: #f0151f;
    border: 1px solid #ddd;
    color: #fff;
}
.left-arrow:focus,
.right-arrow:focus {
    color: #f0151f;
    background-color: #fff;
    border: 1px solid #f0151f;
}
.left-arrow {
    left: -15px;
}

.right-arrow {
    right: -15px;
}

.testimonial_heading {
    margin-bottom: 1rem;
    color: #f0151f;
    text-align: center;
}
.testimonial_sub_heading {
    font-size: 24px;
    color: #5c727d;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    font-family: "Roboto";
}

.testimonial_section .card {
    padding: 15px;
    border: 0px;
    height: 100%;
    /* padding-bottom: 4rem; */
    position: relative;
    /* box-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1); */
}
.testimonial_section .card_text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 0rem;
}
.testimonial_section .card_text p {
    margin-bottom: 0rem;
    text-align: center;
    font-size: 14px;
}
.testimonial_section .card_text h4 {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    font-family: "Roboto";
}
.testimonial_section .card_text ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    padding-left: 0;
    align-items: center;
}
.testimonial_section .card_img {
    display: flex;
    justify-content: center;
}
.testimonial_section .card_text ul li {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
    line-height: 1px;
}
.testimonial_section .card_text ul li i {
    color: orange;
    font-size: 12px;
    margin: 0rem;
    text-align: left;
}
.testimonial_section .card .card_text .footer {
    text-align: center;
}
@media(max-width:991px){
    .whyBmbc_wrapper li h4 {
        font-size: 16px !important;
    }
}
@media (max-width: 767px) {
    .testimonial_section .card_text h4 {
        font-size: 14px;
        margin-bottom: 2px;
    }
    .whyBmbc_wrapper li {
        margin: 0.5rem 0 !important;
    }

    .whyBmbc_wrapper li h4 {
        font-size: 14px !important;
    }
    .testimonial_sub_heading {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .testimonial_section .carousel-content .content_carousel {
        max-height: auto;
        height: auto;
    }
    .testimonial_section .card_text ul {
        bottom: 5px;
    }
    .testimonial_sub_heading {
        font-size: 14px;
    }
}
